.cards-container{
    display: flex;
    margin-right: 10px;
    margin-top: 5px;
    margin-bottom: calc(3% + 5px);
    flex-direction: row;
    flex-wrap: wrap;
    gap: calc(5% - 5px);
    align-items: center;
    justify-content: space-around;
    align-content: space-between;
}