.form-buttons-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.create-dog-container{
    background-color: #F3DEBA;
    margin: 8px 25%;
    border-radius: 25px;
}


.form-temperaments-inputs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:2%;
}