.sidebar-container{
    margin: 2%;
    background-color: #ABC4AA;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
    width: calc(100% - 55px);
    height: 100%;
    border-radius: 20px;
}

.sidebar-title {
    color: #675D50;
    align-self: center;
    margin-bottom: 2px;
}

.sidebar-reset-button{
    align-self: center;
}

.sidebar-subtitle {
    color: #675D50;
    margin-left: 15px;
    margin-bottom: 2px;
}

.sidebar-buttons-list{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    width: calc(100% - 10px);
}

.sidebar-filter-container{
    display: flex;
    flex-direction: column;
    width: 90%;
    align-self: center;
}

.sidebar-filtering-buttons{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}